
*.~vsdx
PROCEDIMIENTO PARA PROYECCIÓN DE VARIABLES DE NEGOCIO/REALIZAR PROYECCIONES/INGRESOS NUEVOS/~$MacroSimulacionPropuestas V3 - ESCENARIO 1.xlsm
PROCEDIMIENTO PARA PROYECCIÓN DE VARIABLES DE NEGOCIO/REALIZAR PROYECCIONES/FFIE/~$FFIE Consolidado.xlsx
PROCEDIMIENTO_EJERCICIOS_ANALISIS/REALIZAR_EJERCICIOS_ANALISIS/EJEMPLOS_SCRIPTS/~$RIESGO EBITDA.xlsx
