
<h1><strong>Formulario para ingresar un nuevo curso</strong></h1>

<div class="container">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td colspan="1">
                    <form class="well form-horizontal" action="/creacion" method="post">
                        <fieldset>
                            <div class="form-group">
                                <!--ID-->
                                <label class="col-md-4 control-label">Id</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span><input id="courseid" name="idfield" placeholder="Id" class="form-control" required="true" value="" type="text"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <!--NOMBRE-->
                                <label class="col-md-4 control-label">PREGUNTA:</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span><input id="coursename" name="coursename" placeholder="Nombre" class="form-control" required="true" value="" type="text"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <!--DESC-->
                                <label class="col-md-4 control-label">ESTADO</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-list"></i></span><input id="coursedesc" name="coursedesc" placeholder="Descripción" class="form-control" required="true" value="" type="text"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <!--VALOR-->
                                <label class="col-md-4 control-label">CAMPONUMERO</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span><input id="courseprice" name="courseprice" placeholder="Valor" class="form-control" required="true" value="" type="text"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <!--MODALIDAD-->
                                <label class="col-md-4 control-label">CAMPODESPLEGBLE</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon" style="max-width: 100%;"><i class="glyphicon glyphicon glyphicon-send"></i></span>
                                        <select class="form-control" id="coursemodalidad" name="coursemodalidad">
                                            <option>Virtual</option>
                                            <option>Presencial</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <!--INTENSIDAD-->
                                <label class="col-md-4 control-label">CAMPONUMERO</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-flash"></i></span><input id="courseintensidad" name="courseintensidad" placeholder="Intensidad horaria" class="form-control" required="true" value="" type="text"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <!--ESTADO-->
                                <label class="col-md-4 control-label">ESTADO</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon" style="max-width: 100%;"><i class="glyphicon glyphicon-adjust"></i></span>
                                        <select class="form-control" id="courseestado" name="courseestado">
                                            <option>Disponible</option>
                                            <option>No Disponible</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <span class="input-group-btn" style="text-align:center">
                            <button class="btn btn-default">Crear</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
